# Ignore all files and directories under
mongo-data/
mysql_keycloak_data/
postgres-inventory/
postgres-order/
redis-data/

# Other files or directories to ignore
node_modules/
dist/
*.log
*.idea
.env
